<html>
<% if (!username) { %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } else { %>
<h2>username <%= username %></h2>
<form method="POST" action="/logout">
<input type="submit" value="Logout">
<% } %>
<br><br>

</form>
</html>