<html>
<% if (typeof(username) === 'undefined') { %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } else { %>
<h2>user<%= username %></h2>

<form method="POST" action="/logout">
<input type="submit" value="Logout">
<% } %>
<a href="./new">New</a>
<br><br>

</form>
</html>