<html>
<% if (!username) { %>
<form method="POST" action="/login">
<input type="text" name="username"></input>
<input type="submit" value="Login">
<a href="/register">Register</a>
<% } else { %>
<h2>username <%= username %></h2>
<form method="POST" action="/logout">
<input type="submit" value="Logout">

<% } %>
<h1>Hello Nurse!</h1>
</form>
</html>