<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header') %>
    <!-- Add your EJS code here -->

    <% for (item in urls) { %>
    <a href = <%= urls[item] %>><%= urls[item] %></a>
     <%    } %>
</body>
</html>