<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include partials/_header %>
    <!-- Add your EJS code here -->
<p>Register</p>
<form method="POST" action="/register">
email
<input type="email" name="email" required>
password
<input type="password" name="password" required>
<input type="submit" value="Register">
</form>

</body>
</html>