<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header %>
    <%=  `${shortURL}  ${urls[shortURL]}` %>
    <form method="POST" action=<%= `/urls/${shortURL}/` %>>
    <input type="text" name="update"></input>
    <input type="submit" value="Update"></input>
    </form>
</body>
</html>